
		<ul class="cat_list clearfix">
			<li>
				<a href="/q/T恤"><%= image_tag 'txu.png' %></a>
				<p><a href="/q/T恤">T恤</a></p>
			</li>
			<li>
				<a href="/q/彩电"><%= image_tag 'caidian.png' %></a>
				<p><a href="/q/彩电">彩电</a></p>
			</li>
			<li>
				<a href="/q/床品"><%= image_tag 'chuangpin.png' %></a>
				<p><a href="/q/床品">床品</a></p>
			</li>
			<!--li>
				<a href="/q/装饰画"><%= image_tag 'qianghua.jpg' %></a>
				<p><a href="/q/装饰画">装饰画</a></p>
			</li-->
		</ul>
		<ul class="cat_s_list clearfix">
			<li>
				<a href="/q/家居"><%= image_tag 's_jiaju.png' %></a>
				<p><a href="/q/家居">家居</a></p>
			</li>
			<li>
				<a href="/q/女鞋"><%= image_tag 's_nvxie.png' %></a>
				<p><a href="/q/女鞋">女鞋</a></p>
			</li>
			<li>
				<a href="/q/女裙"><%= image_tag 's_nvqun.png' %></a>
				<p><a href="/q/女裙">女裙</a></p>
			</li>
			<li>
				<a href="/q/玩具"><%= image_tag 's_wanju.png' %></a>
				<p><a href="/q/玩具">玩具</a></p>
			</li>
		</ul>
		<ul class="cat_s_list clearfix">
			<li>
				<a href="/phone"><%= image_tag 's_shouji.png' %></a>
				<p><a href="/phone">手机</a></p>
			</li>
		</ul>
		<!--ul class="cat_ms_list clearfix">
			<li>衣服</li>
			<li>鞋包</li>
			<li>化妆品</li>
			<li>吃的</li>
			<li>数码家电</li>
			<li>名品打折</li>
			<li>母婴用品</li>
			<li>其他</li>
		</ul-->
