
<div class="page_location">
	<a href="/">首页</a> » 
	<% if @catalog %>
	<a href="/c/<%= @catalog.cid %>"><%= @catalog.name %></a>
	<% else %>
	<a href="/p/<%= params[:id] %>"><%= @result["item"]["title"] %></a>
	<% end %>
</div>
<div class="clearfix" style="margin-top:18px;">
	<div class="l_cat_list">
		<h2>所有商品分类</h2>
		<ul>
			<% @catalogs && @catalogs.each do |c| %>
			<li><a href="<%= c.show_url %>" title="<%= c.name %>"><%= c.name %></a></li>
			<% end %>
		</ul>
	</div>
	<div class="p_show">
		<h2><%= @result["item"]["title"] %></h2>
		<div class="clearfix">
			<div class="p_show_img"><a href="<%= @result["click_url"] %>" target="_blank"><img src="<%= @result["item"]["pic_url"] %>" /></a></div>
			<div class="p_show_props">
				<ul>
					<li>价 格：<span class="price">¥ <%= @result["item"]["price"] %></span> 元</li>
					<li>运 费： 
						<% if @result["item"]["freight_payer"] == "seller" %>卖家承担
						<% else %>
						平邮 <%= @result["item"]["post_fee"] %> 元
						快递 <%= @result["item"]["express_fee"] %> 元
						EMS <%= @result["item"]["ems_fee"] %> 元
						<% end %></li>
					<li>所 在 地： <%= @result["item"]["location"]["state"] %>.<%= @result["item"]["location"]["city"] %></li>
					<li>商品数量： <%= @result["item"]["num"] %> 件</li>
					<li>联系掌柜： <%= @result["item"]["nick"] %> </li>
					<li>卖家信用： <img src="/assets/credit/level_<%= @result["seller_credit_score"] %>.gif" /></li>
				</ul>
				<p>
					<a href="<%= @result["click_url"] %>" target="_blank"><img src="/assets/gomai.gif" /></a>
					<a href="<%= @result["shop_click_url"] %>" target="_blank"><img src="/assets/gozhanggui.gif" /></a>
				</p>
			</div>
		</div>
		<div class="p_show_detail" id="p_show_detail">
			<h4>宝贝详情</h4>
			<div class="p_show_detail_con">
				<%= h_load @result["item"]["desc"] %>
			</div>
		</div>
	</div>
</div>

<%= javascript_include_tag 'jquery-1.7.2.min', 'jquery.lazyload.min' %>
<script type="text/javascript">
$(function(){
	$("#p_show_detail img").lazyload({
		effect : "fadeIn"
	}); 
});
</script>
