<ul class="promotion-list">
	<% i = 1 %>
	<% @categories.each do |category| %>
	<li class="list-item">
		<h3 class="main-cat icon<%= i %>"><%= category.name %></h3>
		<ul class="clearfix">
			<% category.children.each do |cat| %>
			<li>
				<a href="<%= cat.show_url %>" class="sub-cat"><%= cat.name %></a>
				<%= cat.children.map{|c|'<a ' + c.is_is_hot + 'href="' + c.show_sub_url + '">' + c.name + '</a>'}.join('<span class="divide"></span>').html_safe %>
			</li>
			<% end %>
		</ul>
	</li>
	<% i = i + 1 %>
	<% end %>
</ul>
